{{master: master}}

<div class="row"> 
    <div class="col-lg-12">
        <h1 class="page-header">Liste aller Container</h1>

        <p>
            <a href="/start/0" class="btn btn-success br">Start Phase 0</a>
            <a href="/start/1" class="btn btn-success br">Start Phase 1</a>
            <a href="/start/2" class="btn btn-success br">Start Phase 2</a>
            <a href="/stop" class="btn btn-danger">Stop</a>
        </p>
        <pre>{{certificates}}</pre>
        <hr/>
        
        <ul>
            {{each c in containers}}
                <li>{{c.name}}</li>
            {{/each}}
        </ul>
    </div>
</div>
