{{master: master}}

<div class="row"> 
    <div class="col-lg-12">
        <h1 class="page-header">Alte certbot Container löschen</h1>
        
        {{if hasContainers}}
            <p>Diese Container mit Image={{image}} werden gelöscht. Die Verarbeitung kann etwas dauern.</p>
            <ul>
                {{each c in containers}}
                    <li>{{c.name}}</li>
                {{/each}}
            </ul>
            <p>Anzahl: {{n}}</p>
        {{else}}
            <p>Es sind keine Container mit Image={{image}} vorhanden.</p>
        {{/if}}
    </div>
</div>
