{{master: master}}

<style>
  .w4 { width: 400px; }
</style>

<div class="row"> 
    <div class="col-lg-12">
        <h1 class="page-header">https manager</h1>

        <p>
            <a href="/start/1" class="btn btn-success br w4">Starte Phase 1: Beantragung der Zertifikate</a>
        </p>
        <p>
            <a href="/start/2" class="btn btn-success br w4">Starte Phase 2: Domains auf https umstellen</a>
        </p>
        <p>
            <a href="/start/0" class="btn btn-default br w4">Domains zurück auf http umstellen</a>
            <a href="/stop" class="btn btn-default br w4">nginx und certbot Container löschen</a>
            <a href="/state" class="btn btn-default br w4">State auf ok setzen</a>
        </p>
        <p style="margin-top: 3em;">
            <a href="/certificates" class="btn btn-default br w4">Zertifikat Info</a>
            <a href="/check-certificates" class="btn btn-default br w4">Domains prüfen</a>
        </p>
        <p>
            <a href="/renewal" class="btn btn-default br w4">renew</a>
            <a href="/renewal?dry-run=1" class="btn btn-default br w4">renew dry run</a>
        </p>
        <p style="margin-top: 3em;"><small>Sie sind als {{login}} angemeldet. State: {{state}}</small></p>
    </div>
</div>
