{{master: master}}

<div class="row"> 
    <div class="col-lg-12">
        <h1 class="page-header">https manager</h1>

        <p>Sie sind als {{login}} angemeldet.</p>
        <p>
            <a href="/start/0" class="btn btn-success br">Starte Phase 1</a>
            <a href="/start/1" class="btn btn-success br">Starte Phase 2</a>
            <a href="/start/2" class="btn btn-success br">Starte Phase 3</a>
            <a href="/stop" class="btn btn-danger">Stopp</a>
        </p>
    </div>
</div>
